
<!-- Main Content -->
	<div id="page-content-wrapper">
	<div id="mainContent" class="col-sm-12 col-sm-offset-0 col-lg-12 col-lg-offset-0 main">
    <div class="row">
    <div class="home-img top-pad col-lg-7 col-md-8 col-xs-12"> 
    <img src="images/page-corporate-travel.png">           
    </div>

    <div class="top-pad col-lg-4 col-md-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						About
					</div>
					<div class="panel-body">
						<p> The Travel Insights application is a full service analytical view consisting of Flight, Hotel, and Car Rental details with data from the American Express Concur solution. Feel free to explore your data by clicking and filtering any combination and ranges of data points on any screen within this application for further analysis of your travel expenses.</p>
                        <br>
                        <a ui-sref="dashboard" class="btn btn-warning btn-md">Get Insights</a>
					</div>
				</div>
			</div>    
        
    </div>    
		
	</div>	<!--/.main-->
	</div>  

