<div class="page-bg {{selectedSeason | lowercase}}" id="page-id-{{pageId}}">
<div class="  row">
    <div class="col-xs-12 col-md-12 col-lg-12">
          <h1 class="page-title visible-xs">{{pageName}}</h1>
    
          <div class="row" style="height: 350px;">
            <div class="col-sm-4">
              <kpi-object id="jBTbPaj" title="" trendid="HzVrGf" class="rain-measure"></sense-object>
            </div>
            <div class="col-sm-4">
              <kpi-object id="nRPSe" title="" trendid="kxTQN" class="rain-measure"></sense-object>
            </div>
            <div class="col-sm-4">
              <!-- <kpi-object id="PaKRfm" title="" trendid="MDCzHh" class="temp-measure"></kpi-object> -->
              <kpi-object id="QcDuPj" title="" trendid="MDCzHh" class="temp-measure"></kpi-object>
            </div>

            <div class="col-sm-12 col-md-6">
              <sense-object id="UUkT" title=""></sense-object>
            </div>

            <div class="col-sm-12 col-md-6">
              <sense-object id="dYYjsb" title=""></sense-object>
            </div>

            <div class="col-sm-12">
              <sense-object id="JbmuGSq" title=""></sense-object>
            </div>


          </div>
          <!--/.row-->

    </div>
    <!--/.main-->
</div>
<!-- /.row -->
</div>