<div id="splashContainer" style="opacity: 0" >
    <div class="splash-bg"></div>
    <img id="powered-by-qlik" src="images/powered-by-Qlik.png" alt="Powered by Qlik" class="img-responsive">

    <div ng-show="isSecure" class="current-weather-wrapper">
        <h2>Today in <reverse-geocode ng-if="lat && lng" lat="{{lat}}" lng="{{lng}}"></reverse-geocode></h2>
        <div class="current-weather">
                <weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
                <div class="temps">
                    <h3>Current: {{ weather.temp.current | temp:2 }}</h3>
                    min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}
                </div>
        </div>
    </div>


    <div class="splash-content">
              
              <div class="container">
                    <div class="splash-welcome">
                        <h1>Weather in 50<span>cities worldwide</span></h1>
                        
                        <p class="hidden-xs">This is a Qlik Demo Mashup integrating data from Qlik DataMarket. Weather data including temperature, precipitation and wind speed for 50 cities.</p>
  

                           
                    </div>

                    <div id="button-wrapper">
                        <button class="btn btn-primary" ng-click="splashOut()">Start Analyzing</button>
                    </div>

                   


                    <div class="splash-footer hidden-xs">
                        <div class="row">
                              <div class="col-xs-8">
                                  <div id="tick-to-go-straight-wrapper" ng-click="checkClick()">
                                      <span><input type="checkbox" ng-model="skip" />Tick here to if you want to go straight to the charts when you next log in.</span>
                                  </div>
                              </div>
                              <div class="col-xs-4 text-right">
                                  <div>Updated On: {{reloadTime | date:'yyyy-MM-dd HH:mm'}}</div>
                              </div>
                        </div>
                    </div>
              </div>
              <!-- /.contaier -->
    </div>
</div>
<!-- /#splashContainer -->
