<div class="page-bg  {{selectedSeason | lowercase}}" id="page-id-{{pageId}}">
<div class="row " >
  <div class="col-xs-12 col-md-12 col-lg-12">
      <h1 class="page-title visible-xs">{{pageName}}</h1>
<div class="row" style="height: 350px;">
  <div class="col-sm-12 col-md-4">
    <!-- <kpi-object id="tkMg" title="" trendid="PaTUy" class="wind-measure"></kpi-object>      -->
    <kpi-object id="kvPZ" title="" trendid="PaTUy" class="wind-measure"></kpi-object>          
  </div>
  <div class="col-sm-12 col-md-4">
    <kpi-object id="WwByxEm" title="" trendid="Wtzfd" class="wind-measure"></sense-object>
  </div>
  <div class="col-sm-12 col-md-4">
    <!-- <kpi-object id="heEsG" title="" trendid="dmwAYBC" class="wind-measure"></sense-object> -->
      <kpi-object id="CXMLCn" title="" trendid="dmwAYBC" class="wind-measure"></sense-object>
  </div>

  <div class="col-sm-12 col-md-6">
    <sense-object id="dNfnJWK" title=""></sense-object>
  </div>

  <div class="col-sm-12 col-md-6">
    <sense-object id="gjLjty" title=""></sense-object>
  </div>

  <div class="col-sm-12 col-md-6">
    <sense-object id="UVJAV" title=""></sense-object>
  </div>
  <div class="col-sm-12 col-md-6">
    <sense-object id="fnyzQE" title=""></sense-object>
  </div>
  


</div>
<!--/.row-->

</div>
<!--/.main-->
</div>


</div>